/*************************************** STYLES GLOBALS ***************************************/
* {
  outline: 0;
}

button {
  width: 30px;
  height: auto;
  padding: 0;
  border: none;
  border-radius: 50%; 
}
button:active:not(.Button_setting, .Turn, .Iso_Ansi) {
  outline-style: none;
  box-shadow: 0 0 5px 0 white;
}
.Button_setting {
  opacity: 0.7;
}

a:not(.Link_youtube) {
  color: white;
  text-decoration: none;
}
a:hover:not(.Link_youtube) {
  color: white;
}

.link, .google:hover, .apple:hover, .Button_setting:hover {
  transition-property: "color, border";
  transition-delay: 0.15s;
  transition-duration: 0.25s;
  opacity: 1;
}
/*************************************** STYLES GLOBALS ***************************************/


/**************************************** ELEMENTS FLEX ***************************************/
.App, .App_main, .App_header, .App_logo, .App_link_logo, .App_buttons_smart, .link, 
.App_link, .Logo, .App_buttons_smart, .App_setting_fast, .Smart_vector, #form_comment, 
.play_stores, rust, .Badge_trust, .Price, .google, .apple, .App-range,
h1, button, aside, svg {
  display: flex;
}
/**************************************** ELEMENTS FLEX ***************************************/


/**************************************** STYLES HEADER ***************************************/
.App {
  flex-direction: column;
}

.App_header {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5%;
  padding: 1% 1.5%;
  box-shadow: 0 4px 6px rgb(100, 100, 100);
  background-color: #252525;
}

.App_logo {
  width: 5%;
}

.App_link_logo {
  width: auto;
  height: auto;
}

.Logo {
  display: inline-flex;
  max-width: 100%;
}

.App_logo_footer {
  width: 45%;
  justify-content: center;
  align-items: center;
  padding-right: 3%;
}

.Logo_footer {
  display: inline-flex;
  max-width: 100%;
}

h1 {
  flex: 34%;
  justify-content: center;
  margin-left: 28.25%;
  font-family: "Orbitron";
  font-size: calc(2.5px + 1.5vw); 
  letter-spacing: 0.2vw;
  color: white;
}

.App_link {
  flex: 35%;
  justify-content: center;
  align-items: center;
}

.link {
  flex: 40%;
  margin-right: 15%;
  font-size: 13px;
  font-weight: 700;
  color: #BABBBD;
}

.App_setting_fast {
  flex: auto;
  flex-direction: column;
  margin-left: 11%;
  align-items: center;
}

.Setting {
  flex: auto;
  width: 0.15vw;
}
/**************************************** STYLES HEADER ***************************************/


/***************************************** STYLES MAIN ****************************************/

@media screen and (max-width: 329px) { 
  .App_main, .App_header {
    overflow-x: scroll;
    width: 150%;
    margin: 0;
    padding: 0;
    justify-content: "center";
  }
}

@media screen and (min-width: 811px) {
  #list-functions {
    line-height: 25px;
  }
}

@media screen and (min-width: 1077px) {
  #list-functions {
    line-height: inherit;
  }
}

@media screen and (max-width: 810px) { 
    .App_main {
      flex-direction: column;
    }

    aside:first-child>#play_stores, aside:first-child>#version {
      /*display: none;*/
    }

    #bloc-msg-for-smart {
      margin: 5% 0;
    }

    .Msg_for_smart {
      line-height: 2;
    }

    aside:nth-child(2) {
      margin-top: 5%;
    }

    .App_header {
      flex-direction: column;
      width: 100%;
      margin: auto;
      padding: 30px 0;
    }
    h1 {
      text-align: center;
      margin: auto;
      align-self: center;
      font-size: 26px;
      margin-bottom: 50px;
    }
    .App_logo {
      width: 20%;
      margin: 5px 0 25px;
      justify-content: center;
      align-items: center;
      border-right: none;
    }
    .App_link_logo {
      display: flex;
      min-width: 100%;
    }

    .App_link {
      display: flex;
      width: 80%;
      padding: 0 10%;
      justify-content: space-evenly;
    }
    .link {
      flex: 40% 1;
      justify-content: flex-end;
      font-size: 16px;
    }
    .App_setting_fast {
      display: flex;
      width: 40%;
      position: static;
      flex-direction: row;
      align-items: center;
    }
    #theme, #language {
      width: 40px;
      height: 15px;
      margin: 0 7.5%;
      right: 0;
    }
    #buttonTheme, #buttonLanguage {
      width: 20px;
      height: 14px;
    }

    #bloc-trust-list {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #bloc-trust-list:first-child {
      width: 90%;
      justify-content: center;
      align-items: center;
    }

    #bloc-trust-badge {
      width: 100%;
      margin: 35px 0;
    }
    #bloc-trust-youtube {
      display: flex;
      width: 100%;
      margin-top: 35px;
    }


    /******************** TRUST ***********************************/
    #contain-bloc-trust {
      width: 90%;
      font-size: 13px;
    }
    /******************** TRUST ***********************************/

    /******************* PRINCIPLE ********************************/
    #contain-bloc-principle, #contain-bloc-list {
      padding: 45px 0 75px;
    }
    #bloc-principle {
      flex-direction: column;
    }
    #bloc-img-principle, #bloc-text-principle {
      width: 90%;
    }
    #img-principle {
      margin-top: 60px;
    }
    #text-principle { 
      text-align: center;
    }
    /******************* PRINCIPLE ********************************/


    /***************** BETA & COMMENT *****************************/
    #bloc-beta, #bloc-comment {
      flex-direction: column;
    }
    #bloc-comment {
      padding: 45px 0 75px; 
    }
    #beta-registered, #comment-registered {
      width: 80%;
      justify-content: center;
    }
    #comment-text {
      margin: 0 7.5% 5%;
    }
    #beta-text {
      margin: 7.5% 7.5% 0;
    }
    /***************** BETA & COMMENT *****************************/


    /********************* FOOTER *********************************/
    #bloc-footer {
      flex-direction: column;
    }

    #contact-footer {
      margin: 10% auto 5%;
    }

    #list-ul-footer {
      padding-left: 0;
    }
    /********************* FOOTER *********************************/
}

@media screen and (min-width: 811px) { 
    aside:first-child {
      width: 70%;
    }

    #version {
      width: 100%;
    }

    #play_stores {
      width: 110%;
    }

    #bloc-trust-list {
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    #bloc-trust-badge, #bloc-trust-youtube {
      width: 100%;
      margin-top: inherit;
    }

    #bloc-msg-for-smart {
      margin: 0 0 10%;
    }

    .Msg_for_smart {
      line-height: 1;
    }

    #contain-bloc-list {
      padding: 115px 0;
    }


    /******************** TRUST ***********************************/
    #contain-bloc-trust {
      width: 40%;
      font-size: inherit;
    }
    /******************** TRUST ***********************************/


    /******************* PRINCIPLE ********************************/
    #contain-bloc-principle {
      padding: 30px 0;
    }
    #bloc-principle {
      flex-direction: row;
    }
    #bloc-img-principle, #bloc-text-principle {
      width: 50%;
      justify-content: "center";
    }
    #bloc-text-principle {
      padding-left: 9.5vw;
    }
    /******************* PRINCIPLE ********************************/


    /***************** BETA & COMMENT *****************************/
    #contain-bloc-beta {
      padding: 60px 0;
    }
    #bloc-beta, #bloc-comment {
      width: 100%;
      margin-top: inherit;
      justify-self: flex-end;
    }
    #bloc-comment {
      padding: 120px 0px; 
    }
    /***************** BETA & COMMENT *****************************/

    /********************* FOOTER *********************************/
    #bloc-footer {
      flex-direction: row;
    }

    #contact-footer {
      margin: inherit;
    }

    #list-ul-footer {
      padding-left: inherit;
    }
    /********************* FOOTER *********************************/

    #beta-registered, #beta-text, #comment-registered, #comment-text {
      width: 50%;
    }

    #beta-registered, #beta-text, #comment-registered, #comment-text {
      padding: 0 50px;
    }
}


.App_main {
  justify-content: space-evenly;
  align-items: center;
  background-image: url("./reffinery_3.png");
  background-repeat: repeat-x;
  background-position: 150% bottom;
  background-size: contain;
}

#contain-bloc-trust {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#contain-bloc-list, #contain-bloc-beta {
  background-color: white;
}

/********************* LIST ***********************************/
#contain-bloc-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: "center";
}
/********************* LIST ***********************************/


/********************* Trust *********************************/
#bloc-msg-for-smart {
  width: 100%;
  font-size: 13px;
  text-align: center;
  padding: 1% 10%;
  line-height: 0.9;
  background-color: transparent;
  border-radius: 10px;
}

.Msg_for_smart {
  color: black;
  font-weight: bold;
}
/********************* Trust *********************************/


/******************* PRINCIPLE ********************************/
#contain-bloc-principle {
  background-color: #0D1224;
}
#bloc-principle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bloc-text-principle, #bloc-img-principle {
  display: flex;
  justify-content: center;
  align-items: center;
}
#img-principle {
  width: 60%;
}
/******************* PRINCIPLE ********************************/


/***************** BETA & COMMENT *****************************/
#bloc-comment {
  background-color: #0D1224;
}
#bloc-beta {
  padding: 35px 0;
}
/***************** BETA & COMMENT *****************************/


/********************* FOOTER *********************************/
#bloc-footer {
  display: flex;
  width: 100%;
  padding: 50px 0;
  justify-content: space-evenly;
  align-items: center;
  background-color: #252525;
}

#contact-footer {
    display: flex;
    flex: 45%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#list-ul-footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: transparent;
}
/********************* FOOTER *********************************/


#bloc-trust-list, #bloc-trust-badge, #bloc-trust-youtube, #bloc-beta, #bloc-comment {
  display: flex;
  justify-content: center;
  align-items: center;
}


/***************************************** STYLES MAIN ****************************************/


/***************************************** STYLES APPLI ***************************************/
.Smart_vector {
  flex-direction: column;
  width: 330px; 
  height: 576px;
  margin-bottom: 5%;
  background-image: url("./smartphone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.App_buttons_smart {
  justify-content: space-evenly;
  margin-top: 2.5%;
}

.Elbow, .Elbow_double, .Elbow_double_section, .Elbow_double_oriented, .Elbow_slice {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;  
  background-color: #e74c3c;
}

.Button_turn {
  appearance: none;
  border-radius: 25px;
  width: 1vw;
  height: 2.35vw;
  margin: 0;
  padding: 0 1.4vw 0 0;
}

.Test, .LengthEqualDoubleElbow {
  margin-left: 2vw;
}

.Zoning_move_left, .Zoning_move_right {
  stroke-opacity: 0.1;
}
.Zoning_move_left:active, .Zoning_move_right:active {
  stroke-opacity: 0.3;
  cursor: move;
}

.Screen_svg {
  display: flex;
  justify-content: center;
  width: 273px;
  height: 244px;
  margin: 7.5% auto; 
}

.Elbow_layer, .Double_elbow_layer, .Double_elbow_oriented_layer, .Elbow_slice_layer  {
  stroke-width: 0.2px;
}

.Elbow_svg { 
  position: relative;
  color: #fdff83;
  font-size: 11px;
  font-weight: bold;
  width: 273px;
  height: 244px;
  margin: 0 auto;
}

.Reset_orientation_screen {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  margin-inline-end: 0.75vw;
  font-size: 1.2vw;
  color: white;
  font-weight: bold;
}
.Reset_orientation_screen:hover {
  color: rgb(47, 255, 40);
}

.Angle {
  stroke-width: 0.2px;
}

.Double_elbow_oriented_layer_dashed, .Elbow_slice_half_dashed {
  stroke-dasharray: 0.35px 0.75px;
  stroke-dashoffset: 1;
  stroke-width: 0.1px;
  opacity: 0.5;
}

.Elbow_layer_axe {
  stroke-dashoffset: 3px;
}

p {
  color: white; z-index: 1999;
}

.App-range {
  justify-content: center;
  padding: 0 10%;
}
.range {
  display: flex;
  flex: auto;
  outline: 0;
  margin: 0;
  padding: 0;
  color: white;
  appearance: none;
  height: 2px;
  text-align: left;
}
/***************************************** STYLES APPLI ***************************************/


/************************************* STYLES BUTTON STORES ***********************************/
.play_stores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 10% 0 5%;
}

.App_link_google, .App_link_apple {
  display: flex;
  flex: 2;
  width: auto;
  margin: 0 3%;
  justify-content: center;
}

.App_link_login {
  display: flex;
  width: 50px;
}

.google, .apple, .login {
  display: flex;
  max-width: 100%;
  border: 3px solid transparent;
  justify-content: center;
  border-radius: 12px;
}

.google:hover, .apple:hover {
  border: 3px solid slategray;
}

.Link_youtube {
  padding: 3.5px 10px;
  color: white;
  font-weight: bold;
  background-color: red;
  border-radius: 15px;
  text-decoration: none;
}
.Link_youtube:hover {
  text-decoration: underline;
}

.Rgpd {
  color: white;
}
/************************************* STYLES BUTTON STORES ***********************************/


/****************************************** STYLES SPAN ***************************************/
.Version {
  font-family: "Orbitron";
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 3% 2%;
  line-height: 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.Diameter {
  color: #54a3ff;
}
/****************************************** STYLES SPAN ***************************************/


/****************************************** STYLES FORM ***************************************/
#form_comment {
  flex-direction: column;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: aliceblue;
  background-color: #363636;
}

label, input, textarea {
  padding: 3% 7.5px 3%;
  border: none;
}

input {
  font-size: 18px;
  font-weight: bold;
}

textarea {
  height: 55px;
  resize: none;
  border-top: 1px solid #282c34;
}

.submit {
  height: 55px;
  border-top: 1px solid #9b59b6;
  border-radius: 0 0 5px 5px;
  color: white;
  background-color: #363636;
}
.submit:hover {
  transition-property: "background-color";
  transition-delay: 0.15s;
  transition-duration: 0.35s;
  background-color: #252525;
}

.Submit_beta { 
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  background-color: #161664;
}

.Submit_beta:hover { 
  background-color: #252525;
}
/****************************************** STYLES FORM ***************************************/


/**************************************** STYLES ONECHECK *************************************/
.theme, .language {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4.2vw;
  height: 1.5vw;
  right: 30%;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}
.theme {
  margin: 0 0 5%;
  background-color: steelblue;
}
.language {
  margin: 5% 0 0;
  background-color: yellowgreen;
}
  
.buttonTheme, .buttonLanguage {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2vw; 
  height: 1.5vw;
  left: 0%;
  border: 0.5px solid black;
  border-radius: 4px;
  font-size: 1.5vw;
  color: black;
  background-color: gainsboro;
}
  
.dark, .light, .french, .english:not(.light) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9vw;
}
.dark {
  font-size: 0.9vw;
  line-height: 0.9vw;
}
.light {
  height: 1.25vw;
  font-size: 1.2vw;
}
.french, .english {
  font-size: 1.5vw;
  height: 2.1;
}

.fleche_theme, .fleche_langage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75vw;
  width: 100%;
  height: 100%;
}
/**************************************** STYLES ONECHECK *************************************/

.App-format-norme, .Generatrices_values {
  display: flex;
  flex-direction: row;
  height: max-content;
  align-items: flex-start;
  font-size: 0.9vw;
  color: white;
}
.App-format-norme {
  justify-content: space-between;
  margin: 50px 0 30px;
  padding: 0 10%;
}
.Generatrices_values {
  width: 85%;
  justify-content: space-evenly;
  margin: 50px auto 30px;
  padding: 0 6%;
  min-height: 20px;
  height: max-content;
  /*border: 1px solid springgreen;*/
}

.Formats, .Block_generatrices_values {
  display: flex;
}
.Formats {
  flex-direction: row;
  margin-left: 5%;
}
.Block_generatrices_values {
  margin-left: 0.5%;
  margin-right: 0.5%;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  flex-wrap: wrap;
  /*border: 1px solid goldenrod;*/
}

.Block_two_generatrices_values {
  position: absolute;
  top: 10%;
  right: 1px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 3%;
  flex-wrap: wrap;
  /*border: 1px solid plum;*/
}

.Format, .Rgpd {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  background-color: #525252;
  color: white;
}

.Format {
  margin-right: 15%;
  padding: 5% 20%;
  font-size: 13px;
}

.Rgpd {
  display: flex;
  margin: 0 auto;
  padding: 3.5% 20%;
  align-self: flex-end;
}

.Gene, .Two_gene {
  display: flex;
  color: white;
  font-size: 11px;
}
.Gene {
  display: inline-block;
  width: 100%;
  text-align: left;
  font-weight: bold;
  /*background-color: red;*/
}
.Two_gene {
  display: flex;
  align-items: center;
  padding-inline-end: 0.5vw;
}

/********************************************** NORME *************/

.Normes {
  position: relative;
  display: flex;
  align-self: center;
  max-width: 74.05px;
  min-width: 74.05px;
  height: 20px;
  border-radius: 5px;
  background-color: transparent;
  transition-property: "justify-content";
  transition-duration: 2s;
  transition-delay: 2s;
}

.Normes_in_elbow_slices {
  position: relative;
  display: flex;
  min-width: 21%;
  max-width: 21%;
  height: 30px;
  align-items: center;
  padding: 0 0% 0 1%;
  border: 1px solid darkgray;
  border-radius: 6px;
  transition-property: "justify-content";
  transition-duration: 2s;
  transition-delay: 2s;
  font-size: 1vw;
}

.Iso_Ansi {
  appearance: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 5px;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  transition: 0.15s left linear;
  background-color: forestgreen;
}

.Iso, .Ansi {
  display: flex;
  align-self: center;
  align-content: center;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  color: white;
}

/*************************************************************/

.App_values {
  min-height: 50px;
  max-height: 50px;
  padding: 0 1.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  color: white;
}

.App_values-elbow-slices {
  display: flex;
  min-width: 90.5%;
  max-width: 90.5%;
  min-height: 50px;
  max-height: 50px;
  margin-top: 4%;
  padding-left: 3.75%;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
  color: white;
}

.Title_diameter {
  margin-bottom: 3px;
  font-size: 10px;
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
  background-color: rgb(49, 82, 49);
  border-radius: 10px;
}

.Title_values_elbow, .Title_values_principal {
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: rgb(49, 82, 49);
  border-radius: 10px;
  margin-bottom: 3px;
}

.Title_values_elbow, .Title_values_principal {
  font-size: 10px;
  padding: 0 10%;
}

.Diameters {
  width: 10%;
}

.Values_elbow {
  padding-left: 6.5%;
}

.Values_principal {
  width: 30%;
  padding-right: 2.5%;
  align-items: flex-start;
  color: rgb(47, 255, 40);
}


.Diameters, .Values_elbow, .Values_principal {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
  color: white;
  line-height: max-content;
  /*background-color: red;*/
}

.Generatrices {
  height: 30px;
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  border: 1px solid darkgray;
  border-radius: 6px;
  font-size: 1em;
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: forestgreen;
}

.Generatrices_nbr {
  display: flex;
  font-size: 1.25vw;
  color: white;
  font-weight: bold;
}

.Radius_elbow_slice {
  display: flex;
  width: 23%;
  height: 30px;
  border: 1px solid darkgray;
  padding: 0 0% 0 1%;
  border-radius: 6px;
  font-size: 13px;
  background-color: #262626;
  color: white;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 1;
  height: 30px;
  padding: 0 10px 0 0;
}

/********************************************************************************/

.Two_label_gene, .All_label_gene {
  display: flex;
  alignment-baseline: middle;
  text-anchor: end;
}















